:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --accent-color: #404bbf;
}

/* ===================Universal=================== */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.list-style {
  list-style: none;
}

.link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
}

.main-item.current {
  color: var(--accent-color);
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--secondary-text-color);
}

.subtitle-descr {
  font-weight: 400;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* ===================Web Studio=================== */

/* ===================Header=================== */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.half-logo {
  color: #4d5ae5;
}

.main-item {
  color: var(--secondary-text-color);
}

.main-item:hover,
.main-item:focus {
  color: var(--accent-color);
}

.address-item {
  font-weight: 400;
  color: var(--primary-text-color);
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}

/* ===================Hero Section=================== */

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;

  text-align: center;

  color: #ffffff;
}

.primary-btn {
  color: #ffffff;
  background-color: #4d5ae5;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--accent-color);
}

/* ===================Section 4=================== */

.team-section {
  background-color: var(--secondary-bg-color);
}

.descr-center,
.subtitle-center {
  text-align: center;
}

/* ============Footer(with portfolio page)============== */

.footer {
  background-color: #2e2f42;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-descr {
  font-weight: 400;
  color: #e7e9fc;
}

/* ===================Portfolio=================== */

/* ===================Section 1=================== */

.secondary-btn {
  text-align: center;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  background-color: #f4f4fd;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}